name: Publish

on:
  push:
    tags:
      - 'v*'

env:
  AWS_REGION: ${{ secrets.AWS_REGION }}
  ECR_REPOSITORY: cosmwasm-etl

permissions:
  id-token: write
  contents: read

jobs:
  build:
    name: build and package image
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Check if tag commit is on main branch
        id: check_branch
        run: |
          branches_containing_tag=$(git branch -r --contains ${{ github.ref }} --format "%(refname:lstrip=3)")
          echo "Branches containing tag: $branches_containing_tag"

          if echo "$branches_containing_tag" | grep -Eq "^(origin/)?main"; then
            # get version from tag
            GIT_TAG=$(echo "${{ github.ref }}" | sed 's|refs/tags/v||')
            echo "tag=$GIT_TAG" >> $GITHUB_OUTPUT
          else
            echo "The tag commit is NOT on main branch. Exiting."
            exit 1
          fi
      
      - name: Build and save image
        id: build-images
        working-directory: .
        env:
          IMAGE_TAG: ${{ steps.check_branch.outputs.tag }}
        run: |
          for app_type in collector parser-dex aggregator; do
            echo "Building for $app_type"
            APP_PATH=$(echo $app_type | tr '-' '/')
            docker build --build-arg APP_PATH=$APP_PATH --no-cache -t ${{ env.ECR_REPOSITORY }}/$app_type:${IMAGE_TAG} .
            docker save -o ${{ runner.temp }}/${{ env.ECR_REPOSITORY }}-$app_type.tar ${{ env.ECR_REPOSITORY }}/$app_type:${IMAGE_TAG}
          done

      - name: Upload artifact
        uses: actions/upload-artifact@v5
        with:
          name: docker-images
          path: ${{ runner.temp }}/${{ env.ECR_REPOSITORY }}-*.tar
    
  push_to_ecr:
    name: Push images to Amazon Elastic Container Registry
    needs: build
    runs-on: ubuntu-latest
    environment: production
    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          role-session-name: cosmwasm-etl-deploy
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2.0.1

      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: docker-images
          path: ${{ runner.temp }}

      - name: Load, tag, and push image to Amazon ECR
        id: build-image
        working-directory: .
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        run: |
          # Load all saved Docker images
          for tar in ${{ runner.temp }}/${{ env.ECR_REPOSITORY }}-*.tar; do
            docker load -i "$tar"
          done

          for image in $(docker images --format "{{.Repository}}:{{.Tag}}" | grep ^${{ env.ECR_REPOSITORY }}); do
            IFS=':' read -r image_name tag <<< "$image"
            docker tag $image $ECR_REGISTRY/$image
            docker tag $image $ECR_REGISTRY/$image_name:latest
            docker image push -a $ECR_REGISTRY/$image_name
          done
